/* Add a background color to the top navigation bar */
.CGtopnav {
  overflow: hidden;
  background-color:grey;
}

/* Style the links inside the navigation bar */
.CGtopnav a {
  float: left;
  display: block;
  color: BLACK;
  background-color: #C9B608;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the "active" element to highlight the current page */
.CGtopnav a.active {
  background-color: BLUE;
  color: BLACK;
}

/* Style the search box inside the navigation bar */
.CGtopnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .CGtopnav a, .CGtopnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .CGtopnav input[type=text] {
    border: 1px solid GREY;
  }
}

.CGheading{
  color:whitesmoke;
  align-self: center;
}

h3{
	padding-left: 120px;
}

.CGbody{
background-image: url("CGbg-min.jpg");
background-position:fixed;

background-repeat:repeat;
}
/* Add your existing styles here */

/* Style for the menu container */

#output {
  border: 2px solid #C9B608;  /* Add this line to set the border */
  background-color: grey;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}


/* Style for the restaurant type heading */
#output h2 {
  color: #333;
}

/* Style for menu categories */
#output h3 {
  color: #555;
}

/* Style for menu items */
#output p {
  margin: 5px 0;
  color: #C9B608;
}
/* Style for menu items */
#output .menu-item {
  display: flex;
  align-items: center;
}

#output .menu-item img {
  width: 50px; /* Adjust the size as needed */
  margin-right: 10px; /* Adjust the spacing as needed */
}
